a, a:hover {
    text-decoration: none;
}

body {
    background: #eeeeee;
}

hr {
    border: 1px solid #d3d3d3;
}

div.block-categoty-shop {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
}

div.block-categoty-shop.one {
    border: 5px solid rgb(139, 161, 80);
    background: rgb(168, 195, 97);
}

div.block-categoty-shop.two {
    border: 5px solid red;
    background: #ff5151;
}

div.block-categoty-shop.three {
    border: 5px solid rgb(68, 117, 174);
    background: rgb(80, 139, 206);
}

div.block-categoty-shop.four {
    border: 5px solid rgb(66, 185, 201);
    background: rgb(73, 203, 221);
}

div.name-category-shop {
    text-align: center;
    margin-top: 30px;
    height: 50px;
}

button.btn-search-home {
    border-radius: 0pc 25px 25px 0px;
}

.block-product-shop {
    background: #fff;
    padding: 0px;
    margin-bottom: 20%;
}

.block-product-shop .caption {
    height: 15%;
}

.block-product-shop .product-name-shop {
    padding-left: 10px;
    height: 14%;
}

.border-shadow-bottom.nav-header {
    background: #fff;
    border: none;
    height: 50px;
    padding: auto;
}

.border-radius-none {
    border-radius: 0px;
}

.border-shadow-right-bottom {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
    -moz-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
    box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
}

.border-shadow-bottom {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
-moz-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
}

.container .introduct-shop {
    margin-top: 50px;
    text-align: center;
}

.clear{ 
    clear:both;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

.nav.navbar-nav.navbar-right .img-avatar {
    margin-top: 10px;
    border-radius: 20px; 
}

.nav.navbar-nav .navbar-brand {
    font-size: 24px;
}

.navbar.navbar-inverse.border-radius-none {
    margin-bottom: 0px;
    background: #e7e7e7;
    border: none;
}

ul.option-shop {
    list-style: none;
    text-align: -webkit-center;
}

ul.option-shop li {
    display: inline-block;
    height: 50px;
    padding: 15px 10px;
    font-size: 18px;
    font-family: -webkit-body;
}

ul.option-shop li:hover {
    background: #e6e6e6;
}

.shop-name {
    font-size: 25px;
}

.speace20 {
    display: block;
    height: 20px;
}

.speace30 {
    height: 30px;
    display: block;
}

.search-home {
    border-radius: 25px 0px 0px 25px;
}

ul.nav.navbar-nav li:hover {
    background: #710909;
}

.title {
    color: #337ab7;
}

.colum {
    text-align: center;
}

.modal-body.form {
    padding: 2% 10% 3% 10%;
}

.modal-footer.form .btn-primary {
    margin-right: 9%;
}

.form-error {
    margin-top: 10px;
    color: red;
}

.modal-body.form-product {
    padding: 2% 20% 2% 20%;
}

.modal-footer.form-product .btn-primary {
    margin-right: 20%;
}

#display-product {
    margin-top: 3%;
}

#upload-product {
    margin-top: 2%;
}

.form-error {
    margin-bottom: 3%;
}

.block-product-shop .action {
    margin-bottom: 5%;
}

.price h5 {
    color: #ff5722;
}
